* {
	font-size: 14px;
}
body {
	box-sizing: content-box;
	overflow-x: hidden;
}
header {
	display: block;
	background-color: #FFEE00;
	width: 100%;
	height: 100vh;
}
.z-index {
	z-index: -1;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.text-bold {
	font-size: 32px;
	font-weight: bold;
}
.pt-120 {
	padding-top: 120px;
}
.mt-90 {
	margin-top: 30%;
}
.wd-1020 {
	display: inline-block;
	width: 35%;
}
.navbar > ul {
	padding-bottom: 32px;
}
.main-nav, .nested-nav {
	list-style-type: none; 
}
.nested-links {
	color: #393C41;
}
.nav-links, li  {
	margin-bottom: 32px;
}
.nav-links,
.logo {
	color: black;
}
.main-nav {
	position: fixed;
	right: 0;
	top: 0;
	width: 312px;
	height: 100vh;
	margin-right: 0;
	background-color: white;
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
	z-index: 998;
}
.logo > ul {
	margin-bottom: 0px!important;
}
.nested-nav {
	display: none;
}
.nav-links:hover > .nested-nav {
	display: block;
}
.burger {
	display: block;
	position: relative;
	right: 0;
	z-index: 1;
	padding-right: 16px;
}
.burger:focus {
	box-shadow: none;
}
.burger div {
	width: 25px;
	height: 2px;
	background-color: #393C41;
	margin: 5px;
	z-index: 999;
}
.ln1 {
	transform: rotate(45deg);
	transform-origin: 10%;
	transition: transform 0.5s ease-in;
}
.ln2 {
	opacity: 0;
	margin: 0;
}
.ln3 {
	transform: rotate(-45deg);
	transform-origin: 10%;
	transition: transform 0.5s ease-in;
}
.main-nav-active {
	transform: translateX(0%);
}
.title {
	position: absolute;
	top: 0;
	z-index: 1;
}
.btn-black {
	/* width: 352px; */
	height: 40px;
	background-color: #393C41;
	color: white;
	border: 1px solid #707070;
	border-radius: 20px;
}
.btn-black:hover {
	color: rgb(151, 236, 229);
}
.btn-white {
	/* width: 352px; */
	height: 40px;
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #707070;
	border-radius: 20px;
}
.btn-white:hover {
	color: rgb(196, 21, 15);
}
.vh100 {
	width: 100vh;
}